.card {
  border-radius: 0.5rem;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(239, 68, 68, 0.5);
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #FFFFFF00 50%,
    #FFFFFF40 2%,
    #FFFFFF00 70%
  );
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}

.card:hover::after {
  opacity: 1;
}
